name: Build Clem.exe

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Buld main branch of Clem.exe
    # WPF requires a Windows environment to build and run
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build the project
      run: dotnet build --configuration Release --no-restore

    - name: Upload build artifacts
      uses: actions/upload-artifact@v6
      with:
        name: Clem_exe
        path: ./CLEM_exe/bin/Release/net8.0-windows